extension.zip
*.sublime-workspace
resources/vendor/
!resources/vendor/.gitignore

# vendor files that we want to check in
!resources/vendor/underscore-amd/underscore-min.js
!resources/vendor/jquery/jquery.min.js
!resources/vendor/requirejs/require.js
